{% form_theme form '::Twig/button.html.twig' %} 
<div class="modal-dialog">
    <div class="modal-content">
        
        {% if form is defined %}
            {{form_start(form)}}
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit_user_fulname">Edit User:  </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            <span style="color:red">{{ form_errors(form.username)}}</span>
                            {{ form_widget(form.username)}} 
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            <span style="color:red"> {{ form_errors(form.email)}}</span>
                            {{ form_widget(form.email)}}         
                        </div>
                    </div>	  
                </div>  
                <div class="row">
                   
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_errors(form.roles) }}
                            {{ form_widget(form.roles) }} 

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                           <span class="strong"> Is This User Active? </span>
                            <div class="custom-checkbox">
                                {{ form_widget(form.enabled) }}
                                {{ form_label(form.enabled)  }}
                            </div>  
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>        
                    {{form_widget(form.save,{'label': '<i class="fa fa-check"></i> Save Changes'})}} 

                    {{ form_end(form) }}  

                </div>
            </div>
        {% endif  %}               
    </div>        
</div>
    
    <script>

 var username = $('#admin_edit_user_username').val();
 $('#edit_user_fulname').append(username);
    $('form').unbind();
    $('form').bind('submit', function (e) {

            e.preventDefault();
            var idUser = $('input[name="admin_edit_user[id]"]').val();      
        $.ajax({
            url: Routing.generate('system_editUser', {id: idUser}),
            type: 'POST',
            data: $(this).serialize(),
            beforeSend: function () {
                $('.edit_user').button('loading');
            },
            complete: function () {
                $('.edit_user').button('reset');
            },
            success: function (data) {   
                if (data.table) {
                    $('.panel-body').html(data.table);
                    $('#editUser').modal('hide');
                }else{
                     $('#editUser').html(data);
                }   
            },
            error: function (xhr, desc, err) {
                  $('#editUser').modal('hide');
                  $('#errorModalDiallog').modal('show');
            }
        });
    });
        
</script>
