{% form_theme form '::Twig/button.html.twig' %}
<div class="modal-dialog">
    <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New User</h4>
            </div>
        
            <div class="modal-body">
                {% if form is defined %}
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            <span style="color:red">{{ form_errors(form.username)}}</span>
                            {{ form_widget(form.username)}} 
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            <span style="color:red"> {{ form_errors(form.email)}}</span>
                            {{ form_widget(form.email)}}         
                        </div>
                    </div>	  
                </div>  <div class="row">
            
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first) }}
                            <span style="color:red"> {{ form_errors(form.plainPassword.first)}}</span>
                            {{ form_widget(form.plainPassword.first)}}   
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            <span style="color:red">{{ form_errors(form.plainPassword.second)}}</span>
                            {{ form_widget(form.plainPassword.second)}} 
                        </div>
                    </div>
                </div>   
                <div class="row">
                   
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_errors(form.roles) }}
                            {{ form_widget(form.roles) }} 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                           <span class="strong"> Is This User Active?</span>
                            <div class="custom-checkbox">
                                {{ form_widget(form.enabled) }}
                                {{ form_label(form.enabled)  }}
                            </div>  
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>        
                    {{form_widget(form.save,{'label': '<i class="fa fa-check"></i> Save'})}}

                </div>
              {{ form_end(form) }}        
            {% endif  %}               
        </div>        
    </div>
</div>
<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            url: '{{path('user_register')}}',
            type: 'POST',
            data: $(this).serialize(),
            beforeSend: function () {
                $('.save_user').button('loading');
            },
            complete: function () {
                $('.save_user').button('reset');
            },
            success: function (data) {
            if(data.table){
                $('.panel-body').html(data.table);
                $('#addUser').modal('hide');
            }else{
                $('#addUser').html(data);
            }
            },
            error: function (xhr, desc, err) {
                  $('#addUser').modal('hide');
                  $('#errorModalDiallog').modal('show');
            }
        });
    });
</script> 
<script>
    $('#addUser').on('hidden.bs.modal', function (e) {
        $(this).find("input,textarea,select").val('');
    });
</script>
